@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "ViewCompanies";
    Layout = "~/Views/Shared/Sadmin_Layout.cshtml";
}

<head>
  
    <script type="text/javascript">
        $(document).ready(function () {
            $("button").click(function () {
                if (this.id == "approvedis") {
                    var CompanyId = $(this).val();
                    var buttonText = $(this).text();
                    var operation = 1;
                    if (buttonText == 'Disapprove') {
                        operation = 3;
                    }
                    $.ajax({
                        type: "POST",
                        url: "/SuperAdmin/BlockOrUnblockCompany",
                        async: false,
                        data: { CompanyId: CompanyId, blockOperation: operation },
                        success: function (response) {
                            if (response.id == 1) {
                                location.reload();
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            });

            });
    </script>
</head>
<h2 style="color:white"><strong>Manage Companies</strong></h2>
<br />
<body>
    <form>
        <div style="background-color:white">
            <table class="table table-striped table-hover table-bordered">
                <thead class="viewcompanies">
                    <tr>
                        <th>Comapny Name</th>
                        <th>Company Code</th>
                        <th>Email Id</th>
                        <th>LandLine</th>
                        <th>Mobile</th>
                        <th>CEO</th>
                        <th>CreatedDate</th>
                        <th>Approve/DisApprove</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            <td>@row[1]</td>
                            <td>@row[2]</td>
                            <td>@row[3]</td>
                            <td>@row[4]</td>
                            <td>@row[5]</td>
                            <td>@row[6]</td>
                            <td>@row[7]</td>
                            <td><button type="button" id="approvedis" class="btn btn-info" value="@row[0]">@row[9]</button></td>
                          
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</body>

