@model NuNetwork.Models.changepassword
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/MasterNewsFeed.cshtml";
}
<head>
 </head>
<body>
    @using (Html.BeginForm("ChangePassword", "UserRegister", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        <div class="jumbotron">

            <div class="changepassword">
                <fieldset>
                  
                    <center style="margin-right: -196px;color:#1967be;"><h2><strong>Change Password</strong></h2></center>
                    <div class="form-group">
                        @Html.LabelFor(m => m.currentPassword)
                       @Html.PasswordFor(m => m.currentPassword, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.currentPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.newPassword)
                       @Html.PasswordFor(m => m.newPassword, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.newPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.confirmPassword)
                      @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.confirmPassword, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Update" onclick="ValidateControl();" />
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    }

</body>
@if (ViewBag.Message != null)
            {
    <script type="text/javascript">
                    window.onload = function () {
                        bootbox.alert({
                            size: "medium",
                            message: "<b>password Changed Successfully </b>",
                            callback: function () { window.location.href = '@Url.Action("CreatePost", "CreatePost")'; }
                        })
                    };

    </script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}